<section *ngIf="org_unit">

    <!-- Sub navigation - Subject header and back `arrow` button -->
    <app-searchnav [title]="org_unit.name"></app-searchnav>

    <!-- Contact information area -->
    <table class="contactinfo">
        <tbody>

            <!-- This row is displayed if the org unit has a phone number -->
            <tr *ngFor="let address of org_unit.addresses.PHONE">
                <td class="icon"><fa-icon [icon]="faMobileAltIcon"></fa-icon></td>
                <td class="head">{{ address.description }}: </td>
                <td>{{ address.value }}</td>
            </tr>

            <!-- This row is displayed if the org unit has an email address -->
            <tr *ngFor="let address of org_unit.addresses.EMAIL">
                <td class="icon"><fa-icon [icon]="faAtIcon"></fa-icon></td>
                <td class="head">{{ address.description }}: </td>
                <td>{{ address.value }}</td>
            </tr>

            <!-- This row is displayed if the org unit has a `street address` (DAR) -->
            <tr *ngFor="let address of org_unit.addresses.DAR">
                <td class="icon"><fa-icon [icon]="faMapMarkedIcon"></fa-icon></td>
                <td class="head">{{ address.description }}: </td>
                <td>{{ address.value }}</td>
            </tr>

            <!-- This row is displayed if the org unit has an EAN identifier-->
            <tr *ngFor="let address of org_unit.addresses.EAN">
                <td class="icon"><fa-icon [icon]="faBarcodeIcon"></fa-icon></td>
                <td class="head">{{ address.description }}: </td>
                <td>{{ address.value }}</td>
            </tr>

            <!-- This row is displayed if the org unit has a `P-Number` identifier -->
            <tr *ngFor="let address of org_unit.addresses.PNUMBER">
                <td class="icon"><fa-icon [icon]="faBarcodeIcon"></fa-icon></td>
                <td class="head">{{ address.description }}: </td>
                <td>{{ address.value }}</td>
            </tr>

            <!-- This row is displayed if the org unit has a web address (HTTP) -->
            <tr *ngFor="let address of org_unit.addresses.WWW">
                <td class="icon"><fa-icon [icon]="faExternalLinkAltIcon"></fa-icon></td>
                <td class="head">{{ address.description }}: </td>
                <td><a [href]="'//' + address.value" target="_blank">{{ address.value }}</a></td>
            </tr>
        </tbody>
    </table>
    <!-- Contact information ends here -->

    <!-- List of managers of the organisation unit or fallback message -->
    <h5 *ngIf="!org_unit.management.length">Der findes ingen leder roller for denne afdeling</h5>
    <h5 *ngIf="org_unit.management.length">Ledelse:</h5>
    <ul class="card">
        <li *ngFor="let manager of org_unit.management" (click)="goToEmployee(manager.uuid)">
            {{ manager.name }} <span>{{ manager.title }}</span>
        </li>
    </ul>

    <!-- List of employees working in current organisation unit or fallback message -->
    <h5 *ngIf="!org_unit.engagements.length">Der findes ingen ansatte i denne afdeling</h5>
    <h5 *ngIf="org_unit.engagements.length">Ansatte:</h5>
    <ul class="card">
        <li *ngFor="let employee of org_unit.engagements" (click)="goToEmployee(employee.uuid)">
            {{ employee.name }} <span>{{ employee.title }}</span>
        </li>
    </ul>

    <!-- List of employees associated with current organisation unit or fallback message -->
    <h5 *ngIf="!org_unit.associations.length">Der findes ingen tilknytninger til denne afdeling</h5>
    <h5 *ngIf="org_unit.associations.length">Tilknytninger:</h5>
    <ul class="card">
        <li *ngFor="let association of org_unit.associations" (click)="goToEmployee(association.uuid)">
            {{ association.name }} <span>{{ association.title }}</span>
        </li>
    </ul>

    <!-- List of kle numbers related to the current organisation unit or fallback message -->
    <h5 *ngIf="!org_unit.kles.length">Der findes ingen opgaver til denne afdeling</h5>
    <h5 *ngIf="org_unit.kles.length">Opgaver:</h5>
    <ul class="card">
        <li *ngFor="let kle of org_unit.kles">
            {{ kle.title }}
        </li>
    </ul>
</section>
