<div>
    <!-- The search type selection aka `radio buttons` -->
    <div class="search-types">
        <div
            style="cursor: pointer;"
            class="item"
            (click)="select(type.type)"
            [ngClass]="{selected: selectedType == type.type}"
            *ngFor="let type of searchTypes"
        >
            {{ type.name }}
        </div>
    </div>

    <!-- The search input field (Huge bar on the middle of the screen) -->
    <div class="search-field">
        <fa-icon *ngIf="!loading" class="search-icon" size="2x" [icon]="search"></fa-icon>
        <input type="text" [formControl]="searchField" placeholder="Vælg søgekriterier ovenfor">
        <button class="search-button" (click)="callSearch(searchField.value)">Søg</button>
    </div>

    <!-- This container will hold the search results if a search is performed -->
    <div class="search-results">

        <!-- A result is presented as a card item with dynamic content -->
        <div class="result-card" *ngFor="let result of searchResults | async" (click)="goTo(result.uuid)">

            <!-- ALWAYS display the name (to the left) -->
            <div>
                <h3>
                    {{ result.name }}
                </h3>
            </div>

            <!-- Dynamic content begins here -->
            <div class="result-content" *ngIf="result.addresses">

                <!-- Show phone number if the user searched for a person by name or number -->
                <div *ngFor="let address of result.addresses.PHONE">
                    <fa-icon [icon]="phone"></fa-icon>
                    <span class="description">{{ address.value }}</span>
                </div>

                <!-- Show email address f the user searched for a person by email -->
                <div *ngFor="let address of result.addresses.EMAIL">
                    <fa-icon [icon]="email"></fa-icon>
                    <span class="description">{{ address.value }}</span>
                </div>

            </div>

            <!-- Show the first engagement/job title if the user searched for job titles -->
            <div class="result-content" *ngIf="result.engagements">
                <div class="description">{{ result.engagements[0].title }}</div>
            </div>

            <!-- Show the first kles title if the user searched for kles -->
            <div class="result-content" *ngIf="result.kles">
                <div class="description">{{ result.kles[0].title }}</div>
            </div>

        </div>
        <!-- End of the dynamic content-->

    </div>
    <!-- The result card item ends here -->

</div>
