<!-- The loading container -->
<main class="loading-container" *ngIf="statusCode === 1">
    <section class="loading-content">
        <fa-icon [icon]="spinner" spin="true" size="2x"></fa-icon>
        <h3>Henter indhold</h3>
    </section>
</main>

<!-- If an error occurs - show this container -->
<main class="loading-container" *ngIf="statusCode === 3">
    <section class="loading-content">
        <fa-icon [icon]="error" size="2x"></fa-icon>
        <h3>Der skete en fejl ved indlæsningen af siden, kontakt venligst administrator!</h3>
    </section>
</main>

<!-- Navigation -->
<nav class="top-bar" *ngIf="statusCode === 2" (click)="goHome()">
    <h1>{{ metadata.organisation }} | OS2Phonebook <span class="meta-title">{{ metadata.version }}</span></h1>
</nav>

<!-- The main view -->
<main class="container" *ngIf="statusCode === 2">

    <!-- The router section -->
    <section class="view main-content">
        <router-outlet></router-outlet>
    </section>

    <!-- The sidebar -->
    <aside class="view sidebar">
        <div class="header">
            <h3 class="title">Organisationsenheder</h3>
        </div>
        <div>
            <app-browser [nodes]="organisationUnits$ | async"></app-browser>
        </div>
    </aside>

</main>
